header h1 {
  color: rgb(2, 2, 155);
  text-align: center;
  font-family: 'Lucida Sans';
  font-style: inherit;
  text-shadow: 5px 5px 10px,gray;
  text-decoration: wavy;
}

nav a{
  color:black;
}

nav{
  text-align:center;
}

header h3{
  color: rgb(44, 128, 245);
  font-style: oblique;
}

p{
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
}

J h3{
  margin-left: 140;
}

ul1{
  list-style: square;
  line-height: 1.5;
}

ul1 li{
  font-family: 'Courier New';
}

#educacion{
  border: 3px solid blue;
  font-family: 'Courier New';
}

#experiencia{
  border: 3px solid red;
}

#proyectos{
  border: 3px solid green;
}

img{
  border: 5px solid rgb(62, 223, 186)
}