<div class="row g-4 align-items-start mb-1">
  <div class="col-12 col-md-8">
    <h2 class="subheader h2 pb-2 mb-1">Acerca de mí</h2>
    <div class="panel">
      <p class="fs-4 text_justify mb-0">
        Joven motivado y altamente disciplinado con una sólida trayectoria en el fútbol desde los 4 años.
        Mi experiencia en el deporte me ha enseñado el valor del trabajo en equipo, la perseverancia y la
        capacidad para enfrentar desafíos con una actitud positiva. Me apasiona aprender y mejorar
        constantemente, con una mentalidad orientada a resultados y crecimiento profesional.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="color_cv photo_border_decoration">
      <img
        src="https://raw.githubusercontent.com/danielpinol/Intro-desarrollo-software/Entregable2/Entregable1/Foto_Personal.jpg"
        alt="Foto personal"
        class="img-fluid rounded-4">
    </div>
  </div>
</div>